In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = pd.read_csv('../datasets/cars.csv')

Features

In [5]:
current_features = [
    'Make', 'Model', 'Year', 'Engine HP', 'Engine Cylinders', 'Transmission Type', 'Vehicle Style', 'highway MPG', 'city mpg', 'MSRP'
]

Data preparation

In [11]:
df.columns = df.columns.str.replace(' ', '_').str.lower().str.replace('msrp', 'price')
current_features = [i.replace(' ', '_').lower().replace('msrp', 'price') for i in current_features]

df.columns

Index(['make', 'model', 'year', 'engine_fuel_type', 'engine_hp',
       'engine_cylinders', 'transmission_type', 'driven_wheels',
       'number_of_doors', 'market_category', 'vehicle_size', 'vehicle_style',
       'highway_mpg', 'city_mpg', 'popularity', 'price'],
      dtype='object')

Most frequent value

In [23]:
df.transmission_type.mode()

0    AUTOMATIC
Name: transmission_type, dtype: object

In [24]:
df[current_features].head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500

In [25]:
numerical = [
    'year', 'engine_hp', 'engine_cylinders', 'highway_mpg', 'city_mpg'
]

Correlation matrix

In [27]:
for i in numerical:
    print('---'+i+'---')
    print(df[numerical].corrwith(df[''+i]).abs())

---year---
year                1.000000
engine_hp           0.351794
engine_cylinders    0.041479
highway_mpg         0.258240
city_mpg            0.198171
dtype: float64
---engine_hp---
year                0.351794
engine_hp           1.000000
engine_cylinders    0.779988
highway_mpg         0.406563
city_mpg            0.439371
dtype: float64
---engine_cylinders---
year                0.041479
engine_hp           0.779988
engine_cylinders    1.000000
highway_mpg         0.621606
city_mpg            0.600776
dtype: float64
---highway_mpg---
year                0.258240
engine_hp           0.406563
engine_cylinders    0.621606
highway_mpg         1.000000
city_mpg            0.886829
dtype: float64
---city_mpg---
year                0.198171
engine_hp           0.439371
engine_cylinders    0.600776
highway_mpg         0.886829
city_mpg            1.000000
dtype: float64

highway_mpg/city_mpg

Binary series

In [28]:
above_average = (df.price.values > df.price.mean())

In [29]:
from sklearn.model_selection import train_test_split

df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

len(df_train), len(df_val), len(df_test)

(7148, 2383, 2383)